<h1>{{item.id == null ? 'Add' : 'Edit'}} Item - {{item.id}}</h1>

<form>
  <label for="name">Name</label>
  <input type="text" class="form-control" id="name" placeholder="Item Name" [(ngModel)]="item.name" name="name">

  <label for="description">Description</label>
  <input type="text" class="form-control" id="description" placeholder="description" name="description" [(ngModel)]="item.description">

  <label for="author">Price</label>
  <input type="text" class="form-control" id="price" placeholder="price" name="price" [(ngModel)]="item.price">


    <br>
    <input type="file" (change)="onFileChanged($event)">
    <img [src]="imgURL" height="200" width="200" *ngIf="imgURL">

  <br>
  <button type="button" class="btn btn-success" (click)="saveItem()">Save Item</button>
</form>