<div>
    <form action ="#" method="POST" #f="ngForm" autocomplete="off" (ngSubmit)="selectUser()">
        <fieldset>
            <legend>Login</legend>
            <label for="id">Username:</label><br/>
            <input type="text" id="id" name="id" [(ngModel)]="user.id" placeholder="Enter username" required #email="ngModel"/><br/>
            <label for="password">Password</label><br/>
            <input type="password" id="password" name="password" [(ngModel)]="user.password" placeholder="Enter password" required #password="ngModel"/><br/><br/>
                        <input type="submit" value="Sign In" onclick=""/>
                    </fieldset>
                </form>
            </div>
